<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.doancuoinam.hostelappdoancuoinam">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/hostel"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hostel"
        android:supportsRtl="true"
        android:theme="@style/Theme.HostelAppDoanCuoiNam"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".compose.Test"
            android:exported="false"
            android:label="@string/title_activity_test"
            android:theme="@style/Theme.HostelAppDoanCuoiNam" />
        <activity
            android:name=".compose.account.OtpRegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.HostelAppDoanCuoiNam" />
        <activity
            android:name=".compose.account.RegisterCompose"
            android:exported="true"
            android:label="@string/title_activity_register_compose"
            android:theme="@style/Theme.HostelAppDoanCuoiNam">

        </activity>
        <activity
            android:name=".View.Account.OtpRegister"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".View.Room.RoomList"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".View.Intro.ScreenIntro4"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".View.Intro.ScreenIntro3"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".View.Intro.ScreenIntro2"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".View.Intro.ScreenIntro1"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BaseActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".View.Account.Register"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".View.Account.Login"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".test.testAtc"
            android:exported="false" />
        <activity
            android:name=".test.OtpPhone"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".test.LoginSmS"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".test.ChooseLoginType"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".test.LoaddingHome"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar" >

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>